@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  font-family: "Cairo", sans-serif;
}

/* Global styles for scrollbars */
html {
  scrollbar-width: thin;
  scrollbar-color: #ec8812 #fff; /* Thumb and track color */

  /* WebKit-based browsers */
  &::-webkit-scrollbar {
    width: 10px; /* Vertical scrollbar width */
    height: 10px; /* Horizontal scrollbar height */
  }

  &::-webkit-scrollbar-thumb {
    background: #ec8812; /* Thumb color */
  }

  &::-webkit-scrollbar-track {
    background: #fff; /* Track color */
  }
}

.slides-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.menu {
  transform: translateX(280px);
  transition: all 0.5s ease-in-out;
}

.activeMenu {
  transform: translateX(-5px);
}

#dots.active {
  width: 24px;
  opacity: 1;
}
